@font-face {
  font-family: 'boldFont';
  src: url('./font/NeueMontreal-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lightFont';
  src: url('./font/NeueMontreal-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mediumFont';
  src: url('./font/NeueMontreal-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'regularFont';
  src: url('./font/NeueMontreal-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.App {
  height: auto;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'regularFont', sans-serif;
  font-size: 1.7rem;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  color: #f4f3ed;
  mix-blend-mode: difference;
  z-index: 20000000;

  .logo {
    font-family: 'boldFont', sans-serif;
    word-spacing: -2vw;
    cursor: pointer;
    letter-spacing: -3px;
  }

  .midCon {
    display: flex;
    gap: 10px;
    font-size: .9rem;
    font-family: 'mediumFont', sans-serif;

    .item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: .9rem;
      overflow: hidden;

      span {
        transform: translateY(-1.1rem);
      }
    }
  }
}

.sec {
  height: auto;
  width: 100%;
  max-width: 400px;
  padding-inline: 20px;
}

.homepage-kinetic {
  position: relative;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 960px) {
  .homepage-kinetic {
    display: flex;
  }
}

@media only screen and (max-width: 860px) {
  header {
    font-size: 1.2rem;
  }

  .homepage-kinetic {
    display: flex;
  }
}

.shape {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 200px;
  height: 100px;
  /* Adjust the height as needed */
  position: absolute;
  transform-origin: center center;
  /* Scale from the center */
  animation: hypnotize 8s infinite ease-in-out;
}

.shape:nth-child(odd) {
  background-color: #171717;
}

.shape:nth-child(even) {
  background-color: #f4f3ed;
}

.shape:nth-child(1) {
  transform: translate3d(0px, 0px, 0px) scale(0.7346);
  animation-delay: 0s;
}

.shape:nth-child(2) {
  transform: translate3d(0px, 0px, 0px) scale(0.4157);
  animation-delay: 1s;
}

.shape:nth-child(3) {
  transform: translate3d(0px, 0px, 0px) scale(0.1645);
  animation-delay: 2s;
}

.shape:nth-child(4) {
  transform: translate3d(0px, 0px, 0px) scale(0.0427);
  animation-delay: 3s;
}

.shape:nth-child(5) {
  transform: translate3d(0px, 0px, 0px) scale(0.0034);
  animation-delay: 4s;
}

.shape:nth-child(6) {
  transform: translate3d(0px, 0px, 0px) scale(0.9999);
  animation-delay: 5s;
}

.shape:nth-child(7) {
  transform: translate3d(0px, 0px, 0px) scale(0.9852);
  animation-delay: 6s;
}

.shape:nth-child(8) {
  transform: translate3d(0px, 0px, 0px) scale(0.9124);
  animation-delay: 7s;
}

@keyframes hypnotize {

  0%,
  100% {
    transform: translate3d(0px, 0px, 0px) scale(1);
  }

  50% {
    transform: translate3d(0px, 0px, 0px) scale(2);
    /* Increase to double size */
  }
}

.Homepage {
  background-color: #f4f3ed;
  position: relative;
  height: auto;

  .landing {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #171717;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100dvh;


    .landingCon {
      text-align: center;
      font-family: 'boldFont', sans-serif;
      width: 100%;

      .textCon {
        display: flex;
        flex-direction: column;
        font-size: clamp(10px, 8vw, 160px);
        height: clamp(10px, 7vw, 160px);
        overflow: hidden;
        line-height: 90%;


        span {
          transform: translateY(-7vw);
          transition: translateY 1 ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1vw;

          .word {
            color: #171717;
            opacity: 0;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 915px) {
    .landing {
      padding-top: 109px;
      background-color: #f4f3ed;
      height: auto;
      margin-bottom: 20px;
    }
  }

  .descContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1500px;
    padding-inline: 30px;
    opacity: 0;

    .secLayer {
      font-family: 'boldFont', sans-serif;
    }

    @media only screen and (max-width: 700px) {
      .firstLayer {
        flex-direction: column;
        gap: 50px;
        align-items: center;

        .quote {
          text-align: center;
          max-width: 1200px;
          color: black;
          font-family: 'mediumFont', sans-serif;
        }

        .gridCon {
          width: 100%;
        }
      }

    }

    .firstLayer {
      display: flex;
      font-family: 'regularFont', sans-serif;
      justify-content: space-between;
      font-size: clamp(1rem, 1vw, 1.5rem);

      .quote {
        width: 100%;
        max-width: 400px;
      }

      .gridCon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
      }

      @media only screen and (max-width: 900px) {
        .gridCon {
          grid-template-columns: repeat(2, 1fr);
        }
      }

    }
  }


  .selectedWorks {
    height: auto;
    padding-inline: 2%;
    overflow: hidden;

    .workItem {
      height: 300px;
      border-top: 2px solid black;
      padding: 10px;

      .con {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        gap: 10px;

        .item {
          width: 60%;
          display: flex;
          align-items: flex-end;
        }

        .item:nth-child(1) {
          width: 100%;
          display: flex;
          align-items: flex-end;
        }

        .title {
          display: flex;
          align-items: center;
          font-family: 'mediumFont', sans-serif;
          justify-content: flex-end;
          flex-direction: column;
          text-align: center;
        }

        .num {
          font-family: 'boldFont', sans-serif;
          line-height: 90%;
          font-size: 7vw;
        }

        .nameCon {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 10px;

          .item {
            width: 100%;
            text-align: center;
          }

          .title {
            display: flex;
            align-items: center;
            font-family: 'mediumFont', sans-serif;
            justify-content: flex-end;
            flex-direction: column;
            text-align: center;
          }
        }



        .imageCon {
          height: 100%;
          width: 100%;
          max-width: 400px;
          overflow: hidden;
          filter: grayscale(100%);
          transition: filter .5s ease-in-out;
          background-position: center;
          display: flex;
          align-items: flex-start;
          justify-content: first flex-start;
          position: relative;

          img {
            height: 0px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            display: flex;
            position: relative;
            z-index: 10;

            /* Center the image */
          }

          .absoImg {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: 10;

            img:nth-child(1) {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: bottom;
              display: flex;
              scale: 1;

            }

            img:nth-child(2) {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: bottom;
              display: flex;
              scale: 1;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 3;

            }
          }
        }

        @media only screen and (max-width: 890px) {
          .nameCon {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            gap: 10px;

            .item {
              width: 100%;
              text-align: center;
            }

            .imageCon {
              width: 100%;
              background-color: red;
              max-width: 500px;
            }
          }
        }
      }

      .imageCon:hover {
        filter: grayscale(0%);
      }
    }

    @media only screen and (max-width: 700px) {
      .workItem {
        height: 200px;
      }
    }

    .workItem:nth-child(1) {
      font-family: 'boldFont', sans-serif;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 7vw;
      display: flex;
      height: auto;
      overflow: hidden;
      gap: 5px;

      .date {
        display: flex;
        flex-direction: column;
        height: 5vw;
        overflow: hidden;

        span {
          transform: translateY(-10vw);
        }
      }
    }

    .workItem:nth-child(2) {
      display: flex;
      justify-content: center;
    }

    .workItem:nth-child(4) {
      display: flex;
      justify-content: flex-end;

      .absoImg {
        img {
          justify-content: flex-end;
        }
      }

    }

    .workItem:nth-child(5) {
      .imageCon {

        img {
          object-position: center;
        }

        .absoImg {
          img {
            object-position: center;
          }
        }
      }
    }

    .workItem:nth-child(6) {
      display: flex;
      justify-content: flex-end;

      .imageCon {

        img {
          object-position: center;
        }
      }
    }

  }

  .more {
    margin-inline: 10px;
    padding: 10vh 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .textCon {
      font-family: 'boldFont', sans-serif;
      display: flex;
      flex-direction: column;
      font-size: 5vw;
      line-height: 90%;
      height: 4vw;
      overflow: hidden;

      span {
        transform: translateY(-4.8vw);
        transition: translateY 1 ease-in-out;
      }
    }
  }
}

html::-webkit-scrollbar {
  display: none;
}

.selectedWorks,
.footer,
.more {
  opacity: 0;
}


.Homepage::-webkit-scrollbar {
  display: none;
}



.musicPlayerDiv {
  position: fixed;
  top: 70%;
  right: -35px;
  background-color: #f4f3ed;
  color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  cursor: pointer;
  rotate: -90deg;
  mix-blend-mode: difference;
  z-index: 20000000;
  font-family: 'boldFont', sans-serif;
}

.slctd {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 10vh;
}

.slctd .header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  justify-content: space-between;
  width: 100%;
  color: #f4f3ed;
  mix-blend-mode: difference;
  font-size: 1.7rem;
  font-family: 'boldFont', sans-serif;
  z-index: 10;
  opacity: 0;
}

.slctd .content {
  display: flex;
  width: 100%;
  background-color: #171717;
  height: 100dvh;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.slctd .content .right {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slctd .content .left {
  overflow: hidden;
  width: 100%;
  height: 350vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  position: relative;
}

.slctd .content .left .imageItem {
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.slctd .content .left .imageItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slctd .content .left .videos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slctd .content .left .videos video {
  height: 100%;
  width: 100%;
}

.slctd .content .left .videos video source {
  height: 100%;
  width: 100%;
}

.slctd .content .outerLeft {
  display: none;
}

.slctd .content .right {
  padding: 30px;
  color: #f4f3ed;
  font-family: 'boldFont', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slctd .content .right .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
}

.slctd .content .right .content .title {
  font-size: 5vw;
  opacity: 0;
}

.slctd .content .right .content .headerText {
  padding-bottom: 20px;
  font-family: 'regularFont', sans-serif;
}

.slctd .content .right .content .info {
  display: flex;
  flex-direction: column;
}

.slctd .content .right .content .info .text {
  width: 100%;
  max-width: 100px;
}

.slctd .content .right .content .innerCon {
  display: flex;
  gap: 40px;
  opacity: 0;
}

.slctd .content .right .navigation {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 10%;
  z-index: 100;
}

.slctd .content .right .navigation .item {
  cursor: pointer;
  opacity: 0;
}

@media only screen and (max-width: 1100px) {
  .slctd {
    height: 100dvh;
    all: unset;
    height: auto;
    overflow: hidden;
  }

  .slctd .content {
    all: unset;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-color: #171717;
    justify-content: space-between;
    overflow: hidden;

    .title {
      padding-bottom: 30px;
    }
  }

  .slctd .content .right {

    all: unset;
    height: 50%;
    width: 100%;
    padding-top: 70px;
    color: #f4f3ed;
    font-family: 'boldFont', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content {
      all: unset;
      padding: 25px;

      .innerCon {
        font-size: .7rem;
      }
    }

    .navigation {
      all: unset;
      display: flex;
      gap: 10px;
      position: relative;
      justify-content: space-around;
      padding-inline: 10px;
    }
  }


  .slctd .content .left {
    all: unset;
    position: relative;
    display: flex;
    height: 30%;
    width: 500vw;
    overflow-x: scroll;
    padding: 25px;
    align-items: center;
    gap: 10px;

  }

  .slctd .content .left .imageItem {
    height: 100%;
    width: 700px;

    img {
      height: 100%;
    }
  }

}


.About {
  height: auto;
  background-color: #171717;
  color: #f4f3ed;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;

  .content {
    padding-top: 70px;
    padding-inline: 10px;
    height: auto;


    .Landing {
      height: auto;
      height: auto;
      font-family: 'boldFont', sans-serif;
      font-size: 20vw;

      .textCon {
        .textItem {
          line-height: 80%;
          display: flex;
          gap: 10px;
        }
      }
    }

    .imageCon {
      height: 700px;
      margin-top: 30px;
      display: flex;
      gap: 10px;

      .img {
        height: 100%;
        width: 500px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    @media only screen and (max-width: 800px) {
      .imageCon {
        height: 500px;
      }
    }

    @media only screen and (max-width: 600px) {
      .imageCon {
        height: 400px;
      }
    }

    @media only screen and (max-width: 500px) {
      .imageCon {
        height: 300px;
      }
    }
  }

  .headerText {
    margin: 10px 0px;
    width: 100%;
    font-family: 'regularFont', sans-serif;
    max-width: 900px;
    font-size: 1.3rem;
    color: rgb(78, 78, 78);
    line-height: 90%;
    margin-top: 20px;
  }

  .textCenterCon {
    margin: 30px 0px;
    padding: 5% 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(78, 78, 78);
    border-bottom: 1px solid rgb(78, 78, 78);
    gap: 20px;

    .textItem {
      font-size: 1.5rem;
      width: 100%;
      max-width: 700px;
    }
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 5% 10px;
  gap: 20px;
  border-bottom: 1px solid rgb(78, 78, 78);
}

.services .headerTitle {
  font-family: 'boldFont', sans-serif;
  font-size: 2rem;
}

.services .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.services .container .flexCon:nth-child(1) {
  border-bottom: 1px solid rgb(78, 78, 78);
}

.services .container .flexCon {
  display: flex;
  gap: 50px;
  padding-bottom: 50px;
  width: 100%;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  justify-content: space-between;
}

.services .container .flexCon .title {
  font-family: 'boldFont', sans-serif;
  color: rgb(78, 78, 78);
  font-size: .9rem;
}

.services .container .flexCon .listItem {
  font-family: 'mediumFont', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  max-width: 300px;
}

.services .textCon {
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (max-width: 1220px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services .textCon {
    font-size: 1rem;
    width: 100%;
  }

  .services .container .flexCon {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .services .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
  }

  .services .textCon {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3rem;
  }
}


.beliefs {
  display: flex;
  justify-content: space-between;
  padding: 5% 10px;
  gap: 20px;
  border-bottom: 1px solid rgb(78, 78, 78);
  height: 80vh;
}

.beliefs .headerTitle {
  font-family: 'boldFont', sans-serif;
  font-size: 2rem;
}

.beliefs .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 40px;

  .textCons {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .contentTitle {
      font-family: 'boldFont', sans-serif;
      color: rgb(78, 78, 78);
    }

    .contentOne,
    .contentTwo {
      font-family: 'mediumFont', sans-serif;
      font-size: 1.1rem;
    }
  }

  .textCons:nth-child(1) {
    border-bottom: 1px solid rgb(78, 78, 78);
    padding-bottom: 50px;
  }

}

.beliefs .imgCon {
  width: 100%;
  max-width: 400px;
  height: 100%;


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1270px) {
  .beliefs .imgCon {
    width: 100%;
    max-width: 300px;
    height: 100%;
  }

  .beliefs {
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .beliefs {
    height: 100%;
    flex-direction: column;
  }

  .beliefs .container {
    width: 100%;
    max-width: 100%;
  }

  .beliefs .imgCon {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    height: 80%;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

.certif {
  display: flex;
  justify-content: space-between;
  padding: 5% 10px;
  gap: 20px;
  border-bottom: 1px solid rgb(78, 78, 78);
}

.certif .headerTitle {
  font-family: 'boldFont', sans-serif;
  font-size: 2rem;
}

.certif .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

.certif .container .techs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 30px;
}

.certif .container .techs:last-child {
  border: none;
}

.certif .container .techs .title {
  font-family: 'boldFont', sans-serif;
  color: rgb(78, 78, 78);
}



.certif .container .techs .list {
  display: flex;
  width: 100%;
  max-width: 200px;
  flex-direction: column;
  font-family: 'mediumFont', sans-serif;
  font-size: 1.3rem;
  gap: 10px;
}

.certif .textCon {
  font-size: 1.3rem;
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'mediumFont', sans-serif;
  gap: 40px;
}

@media only screen and (max-width: 1250px) {
  .certif {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .certif .textCon {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'mediumFont', sans-serif;
    gap: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .certif {
    display: flex;
    flex-direction: column;
  }

  .certif .textCon {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'mediumFont', sans-serif;
    gap: 40px;
  }

  .certif .container {
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
  }
}



@media only screen and (max-width: 900px) {
  .est {
    font-size: 21.3vw;
    padding: 10px 0px;
  }

}

.About {
  overflow: hidden;
  position: relative;
  z-index: 200;
}

.About .outerCon {
  z-index: 200;
  pointer-events: none;
}

.filler {
  height: 100dvh;
  z-index: 9;
  position: relative;
  background-color: black;
}

.footers {
  background-color: #f4f3ed;
  height: 100dvh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  color: #171717;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-inline: 10px;
  flex-direction: column;

  .footer {
    border-top: 2px solid black;
  }
}

.upwork {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'mediumFont', sans-serif;
  flex-direction: column;
  font-size: 1.5rem;
}

.upwork .headerTitle {
  font-family: 'boldFont', sans-serif;
  line-height: 90%;
  cursor: pointer;
}

.footerContainer {
  height: auto;
  font-family: 'mediumFont', sans-serif;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footerContainer .firstLayer {
  width: 100%;
  gap: 10px;
  display: flex;
  padding-inline: 10px;
  justify-content: space-between;
}

.footerContainer .firstLayer span {
  display: flex;
  flex-direction: column;
}

.footerContainer .firstLayer .midCon {
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 3px;
}

.footerContainer .firstLayer .midCon .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 20px;
}

.footerContainer .firstLayer .midCon .item span {
  transform: translateY(-20px);
}

.footerContainer .hiddenLayer {
  display: none;
}

.footerContainer .secLayer {
  font-family: 'boldFont', sans-serif;
  height: 28vw;
  text-align: left;
  overflow: hidden;
}


.footerContainer .secLayer .text {
  height: 30vw;
}

.footerContainer .secLayer .text img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


@media only screen and (max-width: 850px) {
  .footerContainer .secLayer .text {
    letter-spacing: -3.5vw;
    width: 100%;
  }

  .footerContainer .firstLayer {
    display: none;
  }

  .footerContainer .hiddenLayer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

  .footerContainer .hiddenLayer .firstCon {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerContainer .hiddenLayer .firstCon .item {
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width:850px) {
  .footerContainer {
    padding: 10px;
  }
}

.ContactPage {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  padding-inline: 10px;
  z-index: 999999;

}


.ContactPage .ContentContact {
  height: 100dvh;
  color: #f4f3ed;
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: none;
  z-index: 20000;
}

.ContactPage .ContentContact .marq {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'boldFont', sans-serif;
  font-size: 17vw;
  z-index: 20000000000000000;
  position: relative;
  gap: 20px;
  opacity: 0;

  .item {
    padding-left: 20px;
    padding-right: 40px;
    border-left: 1px solid rgb(78, 78, 78);
  }
}

.ContactPage .footerContact {
  display: flex;
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  font-family: 'mediumFont', sans-serif;
  padding: 50px 0px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  opacity: 0;
  gap: 20px;
  overflow: hidden;
  z-index: 20000000000000000;
}

.ContactPage .footerContact .header {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.ContactPage .footerContact .flexCon {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.ContactPage .footerContact .flexCon .item {
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: space-between;
}


.ContactPage .footerContact .flexCon .item .headerTitle {
  color: rgb(78, 78, 78);
  font-family: 'boldFont', sans-serif;
}

@media only screen and (max-width: 1300px) {
  .ContactPage .footerContact .flexCon {
    display: flex;
    width: auto;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }

}

@media only screen and (max-width: 800px) {
  .ContactPage .footerContact .flexCon {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-direction: column;
  }

  .ContactPage .footerContact {
    flex-direction: row-reverse;
    height: auto;

  }
}

@media only screen and (max-width: 600px) {
  .ContactPage {
    height: auto;
  }

  .flexCon {
    max-width: 100%;
    width: 100%;
    padding-bottom: 100px;
    margin-right: auto;
  }

  .ContactPage .footerContact {
    flex-direction: column;

  }
}

.About {
  .word {
    opacity: 0;
  }

  .imageCon {
    opacity: 0;
  }

  .headerText {
    opacity: 0;
  }

  .services {
    opacity: 0;
  }

  .textCenterCon {
    opacity: 0;
  }

  .beliefs {
    opacity: 0;
  }

  .certif {
    opacity: 0;
  }

  .est {
    opacity: 0;
  }
}


img {
  position: relative;
  z-index: 10;
}


.SmallLeft {
  display: none;
}


@media only screen and (max-width: 1100px) {
  .slctd .content .left {
    display: none;
  }

  .SmallLeft {
    display: flex;
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }


  .SmallLeft {
    display: flex;
    height: 500px;
    width: 100%;
    padding: 25px;
    gap: 20px;
    align-items: center;
  }


  .SmallLeft .imageItem {
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-right: 20px;
    aspect-ratio: 16 / 9;
    /* 16:9 aspect ratio */
    opacity: 0;
  }


  .SmallLeft .imageItem img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }



  .SmallLeft .imageItem video {
    height: 100%;
    width: 100%;
  }


}


.slctd::-webkit-scrollbar {
  display: none;
}


.lastworkItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastworkItem .button {
  font-family: 'boldFont', sans-serif;
  padding: 20px 30px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 30px;
  cursor: pointer;
}

.lastworkItem .button .textCon {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  height: 1.5rem;
  overflow: hidden;
}


.lastworkItem .button .textCon span {
  transform: translateY(-2rem);
}

.AllPages {
  height: auto;
  background-color: #f4f3ed;
  color: #171717;
}

.AllPages .content {
  height: auto;
  padding-top: 50px;
}

.AllPages .content .landingText {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.AllPages .content .landingText .paragraph {
  font-family: 'mediumFont', sans-serif;
  color: rgb(78, 78, 78);
}

.AllPages .content .landingText .big {
  font-family: 'boldFont', sans-serif;
  font-size: 10vw;
  line-height: 90%;
  cursor: pointer;
}


.AllPages .content .imageCon .imageContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.AllPages .content .imageCon .imageContainer .imageItem {
  height: 30vw;
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.AllPages .content .imageCon .imageContainer .imageItem::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171717;
  /* Semi-transparent black overlay */
  transition: opacity 0.3s ease;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  color: white;
  /* Text color for any overlay content */
  z-index: 20;
  font-size: 2vw;
  /* Responsive font size */
  pointer-events: none;
}

.AllPages .content .imageCon .imageContainer .imageItem:hover::after {
  opacity: 0.3;
  cursor: pointer;
}

.AllPages .content .imageCon .imageContainer .imageItem .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  background-color: #171717;
  color: #f4f3ed;
  padding: 10px;
  transform: translate(-50%, -50%);
  font-family: 'mediumFont', sans-serif;
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;

  .title {
    opacity: 0;
  }

  .roles {
    opacity: 0;
  }
}


.AllPages .content .imageCon .imageContainer .imageItem .overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 10;
  background-color: #171717;
  width: 100%;
  height: 30vw;
  padding: 10px;
  transform: translate(-50%, -50%);
}


.bg {
  position: fixed;
  height: 200vh;
  width: 200vw;
  top: -50%;
  left: -50%;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 2;
  z-index: 999999999;
  pointer-events: none;
}


@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.quote {
  line-height: 95%;
}
.quote .word {
  overflow: hidden;
}

.quote .word .char{
  transform: translateY(20px);
}

.descContent .gridItem  {
  display: flex;
  flex-direction: column;
  line-height: 95%;
}

.descContent .gridItem .item {
  overflow: hidden;
}


.gridItem .word {
  overflow: hidden;
  transform: translateY(20px);
}

.descContent .secLayer .item{
  overflow: hidden;
}


.descContent .secLayer .item .word{
  transform: translateY(20px);
}

.About .outerCon .headerText .word {
  all: unset;
  overflow: hidden;
}

.About .outerCon .headerText .word .char{
  transform: translateY(20px);
}

.About .outerCon .textCenterCon .textItem .word {
  all: unset;
  overflow: hidden;
  line-height: 95%;
}

.About .outerCon .textCenterCon .textItem .word .char{
  transform: translateY(24px);
}

.About .outerCon .services .container .flexCon .listItem  .item{
  overflow: hidden;
}
.About .outerCon .services .container .flexCon .listItem .item .word {
  all: unset;
  transform: translateY(25px);
}
  
.About .outerCon .headerTitle .headerText{
  font-family: 'boldFont', sans-serif;
  font-size: 2rem;
  overflow: hidden;
  color: #f4f3ed;
}

.About .outerCon .services .headerTitle .headerText .word {
  all: unset;
  transform: translateY(27px);
}
.About .outerCon .services .textCon .item  {
  line-height: 90%;
}

.About .outerCon .services .textCon .item .word {
  all: unset;
  overflow: hidden;
}

.About .outerCon .services .textCon .item .word .char{
  transform: translateY(25px);
}

.About .outerCon .beliefs .headerTitle .headerText .word{
  all: unset;
  transform: translateY(27px);
}

.About .outerCon .beliefs .txts .word {
  all: unset;
  overflow: hidden;
}


.About .outerCon .beliefs .txts .word .char {
transform: translateY(20px);
}

.uniqueImgCon {
  position: relative;
  transform-origin: bottom;
  max-height: 100%;
  height: 100%;
  max-height: 100%;
}


.uniqueImgCon img {

  max-height: 0px;
}


.About .outerCon .certif .headerTitle .headerText{
  font-family: 'boldFont', sans-serif;
  font-size: 2rem;
  overflow: hidden;
  color: #f4f3ed;
}

.About .outerCon .certif .headerTitle .headerText .word{
transform: translateY(29px);
}
.About .outerCon .certif .list .item {
  overflow: hidden;
}
.About .outerCon .certif .list .word {
  all: unset;
  transform: translateY(29px);
}

.About .outerCon .certif .textCon .item .word {
  all: unset;
  overflow: hidden;
}

.About .outerCon .certif .textCon .item .word .char{
  transform: translateY(25px);
}

.About .outerCon .beliefs .txtss .word {
  all: unset;
  overflow: hidden;
}

.About .outerCon .beliefs .txtss .word .char{
  transform: translateY(25px);
}

.textCenterCon{
  line-height: 90%;
}
.est {
  font-size: 21vw;
  font-family: 'boldFont', sans-serif;
  line-height: 90%;
  border-bottom: 1px solid rgb(78, 78, 78);
}

.About .outerCon .est .word {
  all: unset;
  overflow: hidden;
}
.About .outerCon .est .word .char{
  transform: translateY(21vw);
}


@media only screen and (max-width: 1676px) {
  .est {
    font-size: 20.5vw;
  }
  .About .outerCon .est .word .char{
    transform: translateY( 20.5vw);
  }
  
}


@media only screen and (max-width: 830px) {
  .est {
    font-size: 20vw;
  }
  .About .outerCon .est .word .char{
    transform: translateY(20vw);
  }
}

@media only screen and (max-width: 550px) {
  .est {
    font-size: 19.5vw;
  }
  .About .outerCon .est .word .char{
    transform: translateY(19.5);
  }
}

@media only screen and (max-width: 400px) {
  .est {
    font-size: 19vw;
  }
  .About .outerCon .est .word .char{
    transform: translateY(19);
  }
}


.About .outerCon .imageCon img{
  max-height: 0%;
}

.more .textCon {
  text-align: center;
}